torch>=1.0.0
torchvision>=0.2.2
torchaudio>=0.3.0
git+https://github.com/m-bain/whisperx.git
pytube>=9.5.3
whisperx>=0.1.0
nltk>=3.4
deep_translator>=1.4.4
bert-extractive-summarizer>=0.10.1
streamlit_lottie>=0.1.0
